@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
}
.fontDecoration {
  text-align: justify;
  hyphens: auto;
  word-spacing: -0.05em;
  line-height: 39px;
  font-size: 13px;
}

.serviceFontDecoration {
  text-align: justify;
  hyphens: auto;
  word-spacing: -0.05em;
  line-height: 41px;
  font-size: 14px;
}
.aboutFontDecoration {
  text-align: justify;
  hyphens: auto;
  word-spacing: -0.05em;
  line-height: 41px;
  font-size: 13px;
  color: black;
}
.charLeft{
  text-align: right;
}
.animate{
  transition-duration: 2s;
}
.expBorder .accordion-head{
  background-color: darkgreen;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 91%;
  height:87px;
  margin-left:37px;
  margin-bottom:10px;
  transition: 0.4s;
}

.expBorder .additionalClassForCollapsible{
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items: center;
  margin-left:10px;
}
.expBorder{
  margin-top:17px;
  margin-bottom: 24px;
}

.expBorder .panel-accordion {
  margin: 0 55px;
  color: black;
  font-size: 15px;
  hyphens: auto;
  word-spacing: -0.05em;
  background:none;
  line-height: 35px;
}

@media (max-width: 468px) {
  .expBorder .accordion-head {
    padding-top: 5px;
    margin-left: 33px;
    width: 89%;
  }
  .expBorder{
    margin-left: 0px;
  }
  .expBorder .panel-accordion{
    margin: 17px 63px;
    color: black;
    font-size: 14px;
    word-spacing: -0.05em;
    background: none;
    line-height: 30px;
  }
}

@media (max-width: 620px) {
  .expBorder .accordion-head {
    margin-left: 1px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .accordion-head  {
    padding-left: 26px;
    padding-top: 5px;
    padding-right: 35px;
  }
  .expBorder {
    margin-top: 16px;
    width: 97%;
    margin-left: 1px;  
  }
  .expBorder .panel-accordion {
    margin: 0 19px;
    color: black;
    font-size: 13px;
    hyphens: auto;
    word-spacing: -0.05em;
    background: none;
    line-height: 34px;
}
}
@media (min-width: 1024px){
  .expBorder .accordion-head {
    width: 93%;
  }
}