@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
}
.fontDecoration {
  text-align: justify;
  hyphens: auto;
  word-spacing: -0.05em;
  line-height: 39px;
  font-size: 13px;
}

.serviceFontDecoration {
  text-align: justify;
  hyphens: auto;
  word-spacing: -0.05em;
  line-height: 41px;
  font-size: 14px;
}
.aboutFontDecoration {
  text-align: justify;
  hyphens: auto;
  word-spacing: -0.05em;
  line-height: 41px;
  font-size: 13px;
  color: black;
}
